* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
}

.container {
  padding: 23px;
  position: relative;

}

.box {
  background-color: orange;
  height: 100px;
  width: 200px;
  animation-name: moving;
  animation-duration:5s;
  animation-iteration-count:infinite;
  background-color: red;
  /* animation-timing-function:ease-in ; */
  /* animation-timing-function: ease-out; */
  /* animation-timing-function:cubic-bezier(0.075,0.82,0.165,1); */
  /* animation-direction:alternate; */
  position: absolute;
  /* animation-delay: 2s; */
  /* animation-fill-mode: forwards; */



}

/* @keyframes moving {
  from {
    background-color: orange;
    top: 10px;
    left: 10px;
  }

  to {
    background-color: blue;
    top: 10px;
    left: 800px;
  }
} */

@keyframes moving {
  0% {
    background-color: orange;
    top: 10px;
    left: 10px;
  }

  25% {
    background-color: green;
    top: 10px;
    left: 1000px;
  }
  50% {
    background-color: yellow;
    top: 500px;
    left: 1000px;
  }

  75% {
    background-color:violet;
    top: 500px;
    left: 10px;
  }
  100% {
    background-color: red;
    top: 10px;
    left: 10px;
  }

}

