* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* div styling  information */

body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}

.main-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  padding: 30px;
  margin: auto;
}

.sidebar {
  height: 90vh;
  background-color: #2a2a2a;
  border-radius: 16px;
  padding: 40px;
  position: sticky;
  top: 40px;
  box-shadow:1px 1px 10px 3px white;
}

.main-content {
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #3a3a3a;
}

/* profile information */
.profile {
  /* inline element ko center karta hein! */
  text-align: center;
}

.profile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
}

.profile h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  color: #e0e0e0;
}

.profile p {
  background-color: #1e1e1e;
  padding: 5px 15px;
  color: #ffbf00;
  border: 1px solid #3a3a3a;
  font-size: 0.8rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}

/* contact information */

.contact {
  margin-top: 30px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
}

.label {
  font-weight: 500;
  font-size: 0.8rem;
  color: #a0a0a0;
}

.value {
  color: #e0e0e0;
  text-decoration: none;
}

.email,
.phone,
.location {
  margin-bottom: 15px;
}

/* socail media */

.social {
  text-align: center;
}

.social img {
  height: 22px;
  width: 22px;
  margin-left: 5px;
  filter: grayscale(1) invert(0.7);
  transition: filter 0.3s ease;
}

.social img:hover {
  filter: grayscale(0) invert(0);
}

/* main content */

/* navigation ko */
#navigation {
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding: 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 500;
  transition: color 0.3s ease-in;
}

.active,
nav a:hover {
  color: #ffbf00;
}

/* about me */
.heading {
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 15px;
}

.line {
  width: 60px;
  height: 5px;
  margin-bottom: 15px;
  background-color: #ffbf00;
}

.content {
  text-align: justify;
}

#about {
  margin-bottom: 40px;
}

/* skills section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
}
.item {
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 2px solif #3a3a3a;
  text-align: center;
  margin-top: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.item img {
  height: 48px;
  width: 48px;
  filter: invert(75%) sepia(50%) saturate(100%) hue-rotate(350deg)
  brightness(110%) contrast(101%);
  margin-bottom: 15px;
}

.item h3 {
  font-size: 1rem;
  font-weight: 500;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* EDUCATION INFO */

.edtech {
  position: relative;
  margin-top: 20px;
}

#Education {
  margin-top: 30px;
}

.year {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.degree {
  color: #e0e0e0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.college {
  font-style: italic;
  color: #a0a0a0;
  margin-bottom: 10px;
}
.work {
  color: #a0a0a0;
}
.edfirst,
.edsecond {
  margin-bottom: 30px;
  position: relative;
  padding-left: 30px;
}

/* Goal */
.goal {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #ffbf00;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 1;
}

.liner {
  position: absolute;
  width: 2px;
  top: 0px;
  bottom: 0px;
  border: 2px solid #3a3a3a;
  left: 5px;
}

/* portfolio */

.project-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.project {
  background-color: #1e1e1e;
  border: 1px solid #3a3a3a;
  overflow: hidden;
  border-radius: 12px;
  transition:  transform 0.5s ease, box-shadow 0.5s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.project img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.card {
  padding: 20px;
}
.card h3 {
  color: #e0e0e0;
  margin-bottom: 10px;
}

.card p {
  color: #a0a0a0;
  margin-bottom: 15px;
}
.card span {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffbf00;
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 5px;
  padding: 4px 8px;
  font-size: 0.75rem;
}


/* conatct info*/

#contact{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.contact-info h1{
    color: #e0e0e0;
   
}
.contact-info{
    margin-bottom: 25px;
}

.btn{
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffbf00;
  border-radius: 5px;
  margin-right: 5px;
  padding: 7px 9px;
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
  border: 2px solid white;
  transition:  transform 0.5s ease, box-shadow 0.5s ease;
}
.btn a{
  text-decoration: none;
  color:#ffbf00;
}

.btn:hover{
  transform: translateY(-10px);
  box-shadow: 0px 0px 6px 2px white;

}



@media screen and (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .sidebar {
    position: static;
    height: auto;
  }
  .project-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width:750px) {
      .project-container{
        grid-template-columns: 1fr;
      }
   
      #navigation nav{
        /* Adjust nav for smaller screens */
        justify-content:center;
        flex-wrap: wrap;
                
      }
      .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
      }

}


