*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}



body{
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;

   
}

.box{
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 60px;
    border-radius: 2px;

}


h1{
    /* background-color: aqua; */
    text-align: center;
    margin-bottom:20px;
    color: rgb(116, 116, 255);


}

label{
    font-size: 20px;
    font-weight:600;
    margin-bottom:5px;

}

input{
    width:100%;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    font-weight: 600;
    background-color: rgb(79, 79, 242);
    color: white;
    cursor: pointer;

}