*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    margin: 23px;
}

.container{
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.05);
    font-size: 40px;
    padding: 10px;
    color: white;
    width: 70%;
    border-radius: 5px;
    white-space:nowrap;
    overflow: hidden;
    box-shadow: 3px 3px 12px 2px white;

}
p{
    margin-left: 100%;
    animation-name: moving;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
         margin-left: 100%;
    }
    to{
        margin-left: -70%;

    }
    
}