* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: #fffafa;
  height: 300px;
  width: 400px;
  padding: 100px;
  box-shadow: 6px 6px 6px 6px rgb(206, 203, 203);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-variation-settings: "wdth" 100; */
  padding-top: 30px;
}

h1 {
  color: rgb(33, 168, 33);
  text-align: center;
  margin-bottom: 20px;

}

h2 {
  text-align: center;
  font-weight: 600px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 9px;
  display: block;
  color: rgb(116, 114, 114);
}

input {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(33, 168, 33);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 12px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 12px;
}
