
*{
    margin: 0px;
    padding:0px;
}


.container{
    height: 200px;
    width: 200px;
    /* background-color: orange; */
    /* offset of-X and offset of-Y ,blur radius and spread radius */
    /* box-shadow:10px 10px 5px blue;   */
    /* inset */
    /* box-shadow: inset 10px 10px blue; */
    /* background-color: yellow; */
    /* border-radius: 50%; */
    /* box-shadow: 0px 0px 10px 10px red; */ 
     /* background-color: aqua; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* box-shadow: inset 10px 10px 10px  blue; */

     

}


/* concept i learn->media query,box-shadow and overflow */